@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background: #fff;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 0.8rem;
}

.navbar i {
  font-size: 1.5rem;
  color: #6070ff;
}

.navbar a {
  color: #6070ff;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2rem;
  height: auto;
  border: 2px solid #fff;
  border-bottom-left-radius: 4rem;
}

.mobile-header-bg {
  background-image: url('images/mobile-header-bg.png');
  background-repeat: no-repeat;
  width: 95%;
  height: 40rem;
}

h1 {
  font-size: 2rem;
  color: #172b4d;
  width: 100%;
  padding-top: 8rem;
  padding-left: 1.5rem;
  font-weight: 700;
  font-style: normal;
}

p {
  color: #344563;
  width: 80%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 700;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

span {
  color: #6070ff;
  width: 100%;
  padding-left: 1.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.media-links {
  display: flex;
  flex-flow: wrap;
  gap: 2rem;
}

.media-links li {
  list-style-type: none;
  margin-top: -0.5rem;
}

.media-links i {
  margin-left: -1rem;
  font-size: 1.3rem;
  color: #505f79;
  width: 1.2rem;
}
